* {
    /*background: rgba(0, 0, 0, .1);*/
    box-sizing: border-box;
}

body {
    line-height: 1.7;
}

h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.nav {
    height: 46px;
    line-height: 45px;
    border-bottom: 1px solid #044e97;
    background: linear-gradient(to bottom,#086ed5,#055db5);
    color: #fff;
}

.nav .container {
    width: 80%;
    margin: 0 auto;
}
.nav-item {
    display: inline-block;
    padding: 0 4px;
}

.nav-item:first-child {
    margin-left: 15px;
}
.nav-item:last-child {
    margin-right: 10px;
}

.brand {
    width: 60px;
    height: 30px;
    /*background: url(../images/brand.png) no-repeat ;*/
    /*text-indent: -999em;*/
    font-weight: 700;
    font-size: 20px;
}

.nav form {
    display: inline-block;
    margin: 0;
}

#quick_ask input {
    width: 270px;
}

#quick_ask button {
    padding:5px 8px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

.home.container,
.signup.container,
.login.container,
.question.container,
.user.container {
width: 600px;
    margin: 0 auto;
}

label,
input {
    display: block;
    width: 100%;
    outline: none;
}

input,
button,
textarea {
    padding: 4px 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.1);
}

input,
textarea {
    width: 100%;
}

button.primary {
    background: #086ed5;
    color: #fff;
    cursor: pointer;
}

button[disabled] {
    background: #eee;
    color: #7f7f7f;
    cursor: not-allowed;
}

label {
    padding: 4px 0;
}

.card {
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
    box-shadow:  0 1px 2px 1px rgba(0,0,0,.2);
    padding: 10px;
    margin-top: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form-group {
    margin: 10px 0;
}

.input-error-set {
    color: #a10;
    margin: 4px 0;
}

/*home样式开始*/
.home .recent {
    font-size: 14px;
    color: #666;
    font-weight: 700;
}

.home .hr {
    width: 98%;
    height: 1px;
    background: #ccc;
    margin: 5px 0
}
.feed-item {
    border-bottom: 1px solid #eee;
    padding: 8px;
}

.feed-item .vote {
    width: 10%;
    text-align: center;
    padding-right: 8px;
    font-family: 'Microsoft Yahei';
    font-weight: 500;
    font-size: 13px;
    margin-top: 5px;
}

.vote .up,
.vote .down {
    color: #698ebf;
    background: #eff6fa;
    margin-bottom: 8px;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.vote .up:hover,
.vote .down:hover {
    background: #698ebf;
    color: #fff;
}

.feed-item-content {
    width: 90%;
}

.feed-item-activity {
    font-size: 13px;
    color: #999;
}

.feed-item-title {
    color: #259;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.content-owner,
.comment {
    font-size: 13px;
    color: #666;
}

.content-owner {
    font-weight: 700;
}

.content-main,
.comment-user,
.comment-content
{
    font-size: 13px;
    color: #222;
}

.comment-item {
    padding: 10px 5px;
    border-top: 1px solid #eee;
}

.triangle {
    width: 5px;
    border: 7px solid transparent;
    border-bottom-color: #ccc;
    position: relative;
    left: 6px;
}

.comment-user {
    width: 10%;
}

.comment-content {
    width: 90%;
}

.pending,
.no-more-data {
    font-family: 'Microsoft Yahei';
    font-size: 13px;
    color: #222;
    text-align: center;
}
/*home结束*/
