<div class="login container">
    <div class="card">
        <h3>登陆</h3>
        <!--{{User.loginData}}-->
        <form name="login_form" ng-submit="User.login()">
            <div class="form-group" >
                <label for="username">用户名</label>
                <input type="text"
                       name="username"
                       id="username"
                       ng-model="User.loginData.username"
                       required/>
            </div>

            <div class="form-group" >
                <label for="password">密码</label>
                <input type="password"
                       name="password"
                       id="password"
                       ng-model="User.loginData.password"
                       required/>
            </div>

            <div class="input-error-set">
                <div ng-if="User.login_failed">用户名或密码错误</div>
            </div>

            <div class="form-group">
                <button type="submit"
                        ng-disabled="login_form.$invalid"
                        class="primary">
                    登陆
                </button>
            </div>
        </form>
    </div>
</div>