<div class="signup container">
    <div class="card">
        <h3>注册</h3>
        {{User.signup}}
        <form name="signup_form" ng-submit="User.gosign()">
            <div class="form-group" >
                <label for="username">用户名</label>
                <input type="text"
                       name="username"
                       id="username"
                       ng-model="User.signupData.username"
                       ng-model-options="{debounce:500}"
                       ng-minlength="4"
                       ng-maxlength="26"
                       required
                        />
                <div ng-if="signup_form.username.$touched" class="input-error-set" >
                    <div ng-if="signup_form.username.$error.required">
                        用户名为必填项
                    </div>
                    <div ng-if="signup_form.username.$error.minlength ||
                            signup_form.username.$error.maxlength">
                        用户名需在4至26位之间
                    </div>
                    <div ng-if="User.exist">
                        用户名已存在
                    </div>
                </div>
            </div>

            <div class="form-group" >
                <label for="password">密码</label>
                <input type="password"
                       name="password"
                       id="password"
                       ng-model="User.signupData.password"
                       ng-minlength="6"
                       ng-maxlength="255"
                       required
                        />

                <div ng-if="signup_form.password.$touched" class="input-error-set" >
                    <div ng-if="signup_form.password.$error.required">
                        密码为必填项
                    </div>
                    <div ng-if="signup_form.password.$error.minlength ||
                            signup_form.password.$error.maxlength">
                        密码需在6至255位之间
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit"
                        ng-disabled="signup_form.$invalid"
                        class="primary">
                    注册
                </button>
            </div>
        </form>
    </div>
</div>