<div class="home container ">
    <div class="card">
        <div class="recent">最新动态</div>
        <div class="hr"></div>
        <div class="feed-item-set">
            <div class="feed-item clearfix"
                    ng-repeat="row in Timeline.data">
                <div class="vote fl" ng-if="row.questionId">
                    <div class="up" ng-click="Timeline.vote({id:row.id,vote_value:1})">赞{{row.up_count}}</div>
                    <div class="down" ng-click="Timeline.vote({id:row.id,vote_value:2})">踩{{row.down_count}}</div>
                </div>
                <div class="feed-item-content fr">
                    <div class="feed-item-activity" ng-if="!row.questionId">
                        <span>{{row.username}}用户添加了提问</span>
                    </div>
                    <div class="feed-item-activity" ng-if="row.questionId">
                        {{row.username}}用户添加了回答
                    </div>
                    <div class="feed-item-title" ng-if="!row.questionId" ui-sref="question.detail({id:row.id})">
                        {{row.title}}
                    </div>
                    <div class="feed-item-title" ng-if="row.questionId">
                        {{row.content}}
                    </div>
                    <div class="content-owner">用户{{row.username}}</div>
                    <div class="content-main" ng-if="row.desc">{{row.desc}}</div>
                    <div class="action-set">
                        <div class="comment">评论</div>
                    </div>
                    <div class="comment-block">
                        <div class="comment-item-set">
                            <div class="triangle"></div>
                            <div class="comment-item clearfix">
                                <div class="comment-user fl">王大哈</div>
                                <div class="comment-content fr">
                                    国有国法，家有家规，世界也有世界的规则。在家里要听长辈的，
                                    在社会要听法律的，在世界上要听联合国的。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pending" ng-if="Timeline.pending">正在加载中</div>
        <div class="no-more-data" ng-if="Timeline.no_more_data">没有更多数据了...</div>
    </div>
</div>